body {
}

ul {
    margin: 0;
    padding: 0;
}

#field-list {
    margin: 0;
    padding: 0;

    .list-group-item {
        cursor: pointer;

        &:hover {
            background-color: #8abbe5;
        }
    }
}

#content-footer .padding {
    text-align: right;
}

.success {
    color: #0b9405;
}

.warning {
    color: #ff0000;
}

.default {
    color: #808080;
}

.float-right {
    float: right;
    position: relative;
    top: -15px;
    cursor: pointer;
}

.legend-panel{
    text-align: center;

    .legend{
        display: inline-block;
        margin-left: 10px;
        width: 10px;
        height: 10px;
    }
    .default {
        background-color: #808080;
    }
    .warning {
        background-color: #ff0000;
    }
    .success {
        background-color: #0b9405;
    }
}
