ul {
  margin: 0;
  padding: 0;
}
#field-list {
  margin: 0;
  padding: 0;
}
#field-list .list-group-item {
  cursor: pointer;
}
#field-list .list-group-item:hover {
  background-color: #8abbe5;
}
#content-footer .padding {
  text-align: right;
}
.success {
  color: #0b9405;
}
.warning {
  color: #ff0000;
}
.default {
  color: #808080;
}
.float-right {
  float: right;
  position: relative;
  top: -15px;
  cursor: pointer;
}
.legend-panel {
  text-align: center;
}
.legend-panel .legend {
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
}
.legend-panel .default {
  background-color: #808080;
}
.legend-panel .warning {
  background-color: #ff0000;
}
.legend-panel .success {
  background-color: #0b9405;
}