@{
    Layout = "~/views/Shared/_layout.cshtml";
}

<p><strong>请选择功能：</strong></p>
<a class="button" href="/Contract/index.aspx">新增模板</a>
<a class="button" href="/Contract/index.aspx">模板管理</a>
<a class="button" href="/index.aspx">返回</a>

<link href="~/static/Test/Test.css" rel="stylesheet" type="text/css" />
<script src="~/static/Test/Test.js" type="text/javascript"></script>
