@{
    Layout = "~/views/Shared/_layout.cshtml";
}


<div class="tab-control">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#template" data-toggle="tab">模板管理</a></li>
        <li class=""><a href="#contract" data-toggle="tab">合同管理</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="template">
            <ul id="template-list" class="list-group">
                <li class="list-group-item">
                    <a href="/template-addnew.aspx" class="glyphicon glyphicon-plus">创建模板</a>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="contract">
            合同列表
        </div>
    </div>
</div>

<link href="~/static/Home/Index.css" rel="stylesheet" type="text/css" />
<script src="~/static/Home/Index.js" type="text/javascript"></script>