@{
    Layout = "~/views/Shared/_layout.cshtml";
}

<div>
    <div class="padding">
        <h2>普通字段</h2>
        <ul>
            <li><a class="field-insert" href="javascript:void 0">合同编号</a></li>
            <li><a class="field-insert" href="javascript:void 0">合同名称</a></li>
            <li><a class="field-insert" href="javascript:void 0">甲方单位</a></li>
            <li><a class="field-insert" href="javascript:void 0">乙方单位</a></li>
            <li><a class="field-insert" href="javascript:void 0">丙方单位</a></li>
            <li><a class="field-insert" href="javascript:void 0">合同日期</a></li>
        </ul>
    </div>
    <div class="padding">
        <h2>货物列表</h2>
        <ul>
            <li><a class="field-insert" href="javascript:void 0">货物名称</a></li>
            <li><a class="field-insert" href="javascript:void 0">合同数量</a></li>
            <li><a class="field-insert" href="javascript:void 0">单价</a></li>
            <li><a class="field-insert" href="javascript:void 0">金额</a></li>
        </ul>
    </div>

    <div class="padding">
        <h2>付款方式列表</h2>
        <ul>
            <li><a href="javascript:void 0">付款比例</a></li>
            <li><a href="javascript:void 0">付款日期</a></li>
            <li><a href="javascript:void 0">金额</a></li>
        </ul>
    </div>
</div>
<link href="~/static/Test/create-template.css" rel="stylesheet" type="text/css" />
<script src="~/static/Test/create-template.js" type="text/javascript"></script>