@{
    Layout = "~/views/Shared/_layout.cshtml";
    Page.Title = "编辑合同模板";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">基本信息</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" id="field-list"></ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">条款信息</h3>
    </div>
    <div class="panel-body">

        <ul class="list-group" id="itemfield-list"></ul>
    </div>
</div>

<link href="~/static/Template/edit.min.css" rel="stylesheet" type="text/css" />
<script src="~/static/Template/edit.js" type="text/javascript"></script>

@section footer{
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default glyphicon glyphicon-chevron-left" id="btn-return">返回</button>
        <button type="button" class="btn btn-default glyphicon glyphicon-floppy-disk" id="btn-save">保存模板</button>
    </div>
}
