ul {
  list-style-type: none;
  margin: 0;
}
.list-group-item .list-item-toolbar {
  display: none;
  float: right;
}
.list-group-item .list-item-toolbar .button {
  margin: 5px;
  font-size: 12px;
}
.list-group-item:hover .list-item-toolbar {
  display: inline;
}